body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #181a1b;
  color: #e8e6e3;
}

.header {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-evenly;
  gap: 20%;
  margin-top: 56px;
}

.player, .computer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #515253;
  border-radius: 10px;
  padding: 48px;
}

.thumbnail {
  width: 200px;
  height: auto;
}

.attack-elements {
  display: flex;
  gap: 25px;
}

.attack-elements > * {
  width: 80px;
  height: auto;
}