body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #181a1b;
  color: #e8e6e3;
}

.header {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-evenly;
  gap: 36px;
  margin-top: 56px;
}

.player, .computer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #515253;
  border-radius: 10px;
  padding: 48px;
}

.life-container {
  display: flex;
  align-items: center;
  gap: 3em;
}

[class$="-life"] {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 125px;
  width: 50px;
  background-color: #515253;
  border-radius: 10px;
  gap: 6px;
  padding: 6px;
}

.round {
  align-self: flex-start;
  margin-top: 20px;
  font-size: 46px;
}

[class$="-life"] > div {
  background-color: greenyellow;
  height: 20px;
  width: 50px;
  border-radius: 5px;
}

.thumbnail {
  width: 200px;
  height: auto;
}

.attack-elements {
  display: flex;
  gap: 25px;
}

.pyro-selected {
  transform: scale(1.1);
  box-shadow: 0 0 5px 5px rgba(240, 66, 13, 0.917);
}

.hydro-selected {
  transform: scale(1.1);
  box-shadow: 0 0 5px 5px rgba(75, 173, 234, 0.917);
}

.cryo-selected {
  transform: scale(1.1);
  box-shadow: 0 0 5px 5px rgba(141, 253, 255, 0.917);
}

.attack-elements > * {
  width: 80px;
  height: auto;
}

.combat-log {
  margin-top: 50px;
}

.screen {
  display: flex;
  flex-direction: column;
  height: 10em;
  width: 40em;
  background-color: #515253;
  z-index: -1;
  border-radius: 20px;
  overflow: hidden;
  justify-content: flex-end;
}